.page {
  display: flex;
  height: 130px;
  width: 400px;
  background-color: #c8dddc;
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
  align-items: center;
  justify-content: space-around;
}

.cityBlock label {
  color: #4fc765;
  font-size: 14px;
  font-weight: 700;
}

.cityBlock div {
  margin-left: 10px;
  color: #25760a;
}

.date {
  color: #25760a;
}
